# Основные зависимости
fastapi
uvicorn[standard]
opencv-python
opencv-contrib-python
ultralytics
torch
torchvision
torchaudio
numpy
pandas
pillow
scikit-learn
deepface
pytz
aiosqlite
sqlalchemy
PyQt5
websockets
streamlit

# Для видеоаналитики и трекинга
deep-sort-realtime
filterpy
scipy
pyyaml
matplotlib

# Для работы с базой данных
alembic

# Для веб-интерфейса
jinja2
aiofiles

# Логирование и мониторинг
loguru
psutil
gpustat